
@{
    ViewBag.Title = "sendEncryptedData";
}

<h2>sendEncryptedData</h2>

@using (Html.BeginForm("LookAtUser", "Receiver", FormMethod.Post))
{
    
    @Html.TextBox("encryptedData", (string)ViewBag.Json)
    //@Html.TextBox("BBtb6h9ojMDvaw1F2CYRXQ==", "8q9gYtBd4UTfI6AhTrOZFg==")
    //@Html.TextBox("foo")
    <button type="submit"></button>
}