
@{
    ViewBag.Title = "Index";

    List<SpeedTest> tests = new List<SpeedTest>()
    {
        new SpeedTest
        {
            action = "GetOneUserUnencrypted",
            description = "Get one user",
            encryptResponse = false,
            encryptUrl = false
        },
        new SpeedTest
        {
            action = "GetOneUserEncrypted",
            description = "Get one user (encrypted)",
            encryptResponse = true,
            encryptUrl = false
        },
        new SpeedTest
        {
            action = "GetOneUserEncrypted",
            description = "Get one user (encrypted + encrypted url)",
            encryptResponse = true,
            encryptUrl = true
        },
        new SpeedTest
        {
            action = "GetManyUsersUnencrypted",
            description = "Get many users",
            encryptResponse = true,
            encryptUrl = false
        },
        new SpeedTest
        {
            action = "GetManyUsersEncrypted",
            description = "Get many users (encrypted)",
            encryptResponse = false,
            encryptUrl = false
        },
        new SpeedTest
        {
            action = "GetManyUsersEncrypted",
            description = "(encrypted + encrypted url)",
            encryptResponse = true,
            encryptUrl = true
        },
    };
}

<h2>Index</h2>

<table>
    <caption>Speed tests</caption>
    <thead>
        <tr>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0;}
        @foreach (var test in tests)
        {
            var url = test.encryptUrl ?
                CompresJSONRouteManager.SecretUrlPrefix + "/" + CompresJSONRouteManager.EncryptSecretUrlComponent("SpeedTests") + "/" + CompresJSONRouteManager.EncryptSecretUrlComponent(test.action) :
                "SpeedTests/" + test.action;

            <tr>
                <td>@test.description</td>
                <td>
                    <a href="#" onclick="getJSON(@i, '/@url')">
                        Send request
                    </a>
                </td>
                <td>
                    <p id="request@(i)"></p>
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>

<script>
    function getJSON(requestID, url) {
        $('#request' + requestID).text('loading...');
        $.ajax({
            url: url,
            data: { "data": "oAY+y5q5m0U/CksKQM/tKMY/9aUinDkcuTC4tsx6vDjanpAMkb8W9px7ns3JjC37/BDpDqJPRL3aeZ1gCLodDA==" },
            type: "POST"
        }).done(function (result) {
            console.log(result);
            $('#request' + requestID).text('done');
        });
    }
</script>
